<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
				</span>


				<span class="ribbon-button-alignment pull-right">
          <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"  data-toggle="modal" data-target="#myModal"><i class="fa-grid"></i> Agregar Contacto</span>
         </span>				
				
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>
			<!-- END RIBBON -->

<div id="content">       
  <section id="widget-grid" class="">
      <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="panel panel-default">
						<div style="margin-left:10px; margin-right:10px;
										margin-bottom:10px;	min-height: 200px; ">
          <!-- Widget ID (each widget will need unique ID)-->
							<h5 class="text-primary">Contactos</h5>
			
      	    	<div class="jarviswidget jarviswidget-color-blueLight well" id="wid-id-0" data-widget-editbutton="true">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"            -->

            <!-- widget div-->
            <div>

              <!-- widget edit box -->
              <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

              </div>
              <!-- end widget edit box -->

              <!-- widget content -->
              <div class="widget-body no-padding">

                <table id="dt_basic" class="table table-responsive  table-hover" width="100%">
                  <thead class="thead-default" >
										<tr>
											<th class="hidden-md hidden-sm hidden-xs">ID</th>
											<th data-class="expand"><i class="fa fa-fw fa-user text-muted"></i>Nombre</th>
											<th><i class="fa fa-fw fa-phone text-muted "></i>RNC</th>
											<th  class=" hidden-sm hidden-xs">E-Mail</th>
											<th classe="hidden-xs"><i class="fa fa-fw fa-map-marker txt-color-blue"></i>Telefono</th>
											<th class="hidden-xs">Direccion</th>
										</tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="contacto in contactos | orderBy:ordenSeleccionado | filter:buscar" ng-click="go(contacto)">
                    <td class="hidden-md hidden-sm hidden-xs">{{$index + 1}}</td>
                    <td>{{contacto.nombre || 'empty' }}</td>
                    <td>{{contacto.identificacion}}</td>
                    <td  class="hidden-sm hidden-xs">{{contacto.email}}</td>
                    <td>{{contacto.telefono}}</td>
                    <td class="hidden-xs">{{contacto.direccion}}
										<a class="btn btn-danger   pull-right"  ng-click="EliminarContacto(contacto, $index); $event.stopPropagation();"><i class="fa fa-trash-o"></i></a>    
                
										</td>
                  </tr>

                  </tbody>
                </table>

              </div>
              <!-- end widget content -->

            </div>
            <!-- end widget div -->

          </div>
          <!-- end widget -->
						</div>
					</div>
					<!-- End panel-->
				</article>
        <!-- WIDGET END -->
      </div>
    </section>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Nuevo Contacto</h4>
							</div>
							<div class="modal-body">
									
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Nombre" ng-model="clienteNombre"   />
										</div>			
											<div class="form-group">
											<input type="text" class="form-control" placeholder="RNC" ng-model="clienteRNC"  />
										</div>			
											<div class="form-group">
											<input type="email" class="form-control" placeholder="E-Mail" ng-model="clienteEmail"  />
										</div>	
									</div>
									
									<div class="col-md-6">	
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Telefono" ng-model="clienteTelefono"  />
										</div>			
											<div class="form-group">
											<textarea type="text" class="form-control" placeholder="Direccion" style="resize:none; min-height: 79px;" ng-model="clienteDireccion"  />
												</textarea>
										</div>
									</div>
								</div>		
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancelar
								</button>
								<button type="button" class="btn btn-primary" ng-click="AgregarContacto()">
									Agregar
								</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->