<!-- RIBBON -->
<div id="ribbon">

	<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
	</span>


	<span class="ribbon-button-alignment pull-right">
          <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"  ng-click="go(contacto)"><i class="fa-grid"></i> Nueva factura</span>
	</span>

	<span class="ribbon-button-alignment pull-right">
          <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"  data-toggle="modal" data-target="#myModal"><i class="fa-grid"></i> Nuevo Presupuesto</span>
	</span>
	<span class="ribbon-button-alignment pull-right">
          <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"  data-toggle="modal" data-target="#myModal"><i class="fa-grid"></i>Estado de cuenta</span>
	</span>



	<!-- end breadcrumb -->

	<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

</div>
<!-- END RIBBON -->


<div id="content">


	<!-- widget grid -->
	<section id="widget-grid" class="">
		<!-- WIDGET END -->


		<div class="col-sm-6">
			<div class="panel panel-default">
				<div style="margin-left:10px; margin-right:10px;
										margin-bottom:10px;min-height: 110px;
										max-height:140px">
					<a class=" pull-right" href="" data-toggle="modal" data-target="#myModal">Editar   </a>				
				<h5 class="text-primary">{{contacto.nombre}}</h5> 
				<div>{{contacto.identificacion}}
					<br> {{contacto.direccion}}</br>										
						<abbr title="Telefono">T:</abbr> {{contacto.telefono}}								
					<br><abbr title="Email">E:</abbr>			
					<a href="mailto:#">{{contacto.email}} </a>
					</br>
				</div>
			</div>
		</div>
		</div>


		
		<!-- WIDGET END -->

		<article class="col-sm-12 col-md-6 col-lg-6">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="panel panel-default">
			
				<div style="margin-left:10px; margin-right:10px;
										margin-bottom:10px;min-height: 110px; max-height:140px">
				<h5 class="text-primary">Notas</h5>
			
						<div class="row">
							<div class="col-sm-12  pull-left">
								<textarea type="text" class="form-control" style="resize:none; min-height: 70px;" placeholder="Agrega un comentario sobre este cliente."></textarea>
							</div>
						</div>
				</div>
						
					</div>
					<!-- end widget content -->

				
		</article>

		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
			<div class="panel panel-default">
			
				<div style="margin-left:10px; margin-right:10px;
										margin-bottom:10px;	min-height: 200px; ">
			<!-- Widget ID (each widget will need unique ID)-->
			<h5 class="text-primary">Facturas</h5>
			<div class="jarviswidget jarviswidget-color-blueLight well " id="wid-id-0" data-widget-editbutton="true">
			
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Facturas </h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox ">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding ">

						<table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
							<thead>
								<tr>
									<th data-hide="phone">No.</th>
									<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>Fecha</th>
									<th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i>Importe</th>
									<th>Pendiente</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="contacto in contactos | orderBy:ordenSeleccionado | filter:buscar" ng-click="go(contacto)">
									<td>{{$index + 1}}</td>
									<td>{{contacto.nombre || 'empty' }}</td>
									<td>{{contacto.identificacion}}</td>
									<td>{{contacto.email}}</td>
									<td>{{contacto.telefono}}</td>
									<td>{{contacto.direccion}}</td>
								</tr>

							</tbody>
						</table>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->
				</div>
			</div>
		</article>


	</section>
	<!-- end widget grid -->
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Nuevo Contacto</h4>
							</div>
							<div class="modal-body">

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Nombre" ng-model="contacto.nombre"   />
										</div>			
											<div class="form-group">
											<input type="text" class="form-control" placeholder="RNC" ng-model="contacto.identificacion"  />
										</div>			
											<div class="form-group">
											<input type="email" class="form-control" placeholder="E-Mail" ng-model="contacto.email"  />
										</div>																		
									</div>
									<div class="col-md-6">													
											<div class="form-group">
											<input type="text" class="form-control" placeholder="Telefono" ng-model="contacto.telefono"  />
										</div>			
											<div class="form-group">											
												<textarea type="text" class="form-control" style="resize:none; min-height: 79px;" placeholder="Agrega la direccion este cliente." 
																	ng-model="contacto.direccion"></textarea>
											</div>										
									</div>
								</div>							
								
								
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancelar
								</button>
								<button type="button" class="btn btn-primary" ng-click="actualizarContacto()">
									Agregar
								</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->